@page
@model RegisterModel

<div class="bg-overlay"></div>
<div class="wrapper-page">
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-body">

                <div class="text-center mt-4">
                    <div class="mb-3">
                        <a href="index.html" class="auth-logo">
                            <img src="~/assets/images/oki-logo.png" height="30" class="logo-dark mx-auto" alt="">
                            <img src="~/assets/images/logo-light.png" height="30" class="logo-light mx-auto" alt="">
                        </a>
                    </div>
                </div>

                <h4 class="text-muted text-center font-size-18"><b>Register</b></h4>

                <div class="p-3">
                    <form class="form-horizontal mt-3" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div class="form-group mb-3 row">
                            <div class="col-7">
                                <input asp-for="Input.Email" class="form-control" type="email" required="" placeholder="Email" autocomplete="email" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="col-5">
                                <input asp-for="Input.Name" class="form-control" type="text" required="" placeholder="Username" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <div class="col-12">
                                <input asp-for="Input.Password" class="form-control" type="password" required="" placeholder="Password" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <div class="col-12">
                                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" required="" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group mb-3 row">
                            <div class="col-12">
                                <input asp-for="Input.Room" class="form-control" type="text" required="" placeholder="Part" autocomplete="Part" aria-required="true" />
                                <span asp-validation-for="Input.Room" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <div class="col-6">
                                <input asp-for="Input.PhoneNumber" class="form-control" type="text" required="" placeholder="PhoneNumber" autocomplete="PhoneNumber" aria-required="true" />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                    <option disabled selected>-Select Role</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mb-3 row">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="form-label ms-1 fw-normal" for="customCheck1">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center row mt-3 pt-1">
                            <div class="col-12">
                                <button id="registerSubmit" type="submit" class="btn btn-info w-100 waves-effect waves-light" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- end form -->
                    <div class="col-md-6 col-md-offset-2">
                        <section>
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div class="form-group mt-2 mb-0 row">
                                        <div class="col-12 mt-3 text-center">
                                            <a class="text-muted" id="login" asp-area="Identity" asp-page="/Account/Login">Already have account ?</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                </div>
            </div>
            <!-- end cardbody -->
        </div>
        <!-- end card -->
    </div>
    <!-- end container -->
</div>
<!-- end -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
